body{
  background-image: none;
  background-color: #fff;
}

section#titulofc{
  background-color: #013243;
  padding: 3rem;
  padding-top: 4rem;
  padding-bottom: 7rem;
  background-image: url(../images/vistas_publicas/triangulo.svg);
  background-position: bottom;
  background-size: 3rem;
  background-repeat: repeat-x;
}

.bajoUnPoco{
  position: relative;
  top: -7rem;
}

#formFormulasComunes .form-control{
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #842f86;
  transition: all .3s ease;
}

#formFormulasComunes .form-control:hover{
  border-bottom: 1px solid #b92e34;
}

.flatColorFC1{
  background-color: #1abc9c !important;
}

.flatColorFC2{
  background-color: #2ecc71 !important;
}

.flatColorFC3{
  background-color: #3498db !important;
}

.flatColorFC4{
  background-color: #f1c40f !important;
}

.flatColorFC5{
  background-color: #e67e22 !important;
}

.flatColorFC6{
  background-color: #e74c3c !important;
}

.fontAwH2{
  font-size: 7rem;
}

.fontAwH5{
  font-size: 1.8rem;
}

.fontAwH6{
  font-size: 1.1rem;
}
