/* Paleta de colores de la app */
.darkPalet{background-color: #321233 !important;}
.lightDarkPalet{background-color: #521E53 !important;}
.primaryPalet{background-color: #842F86 !important;}
.lightPrimaryPalet{background-color: #C246C6 !important;}
.backgroundPalet{background-color: #F8F8F8 !important; }
/* Fin Paleta de colores de la app */

/* Navbar CSS RULES*/
.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
    color: #fff !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff !important;
}

.resetNavbarPadding{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	border: 0px !important;
}

nav .form-control{
	border-radius: 2px !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    background-color: #521E53 !important;
}

.btn-outline-success{
	color: #fff !important;
    border-color: #fff !important;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #521E53 !important;
}

.dropup{
	background-color: transparent !important;
	border: 0px !important;
	padding-right: .5rem;
    font-size: 1rem;
    width: 100%;
    text-align: left;
}

.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
    border: 0px !important;
}

.iconMenu{
	font-size: 1.5rem !important;
    padding-top: .2rem !important;
}

/*CSS NAVBAR TOGGABLE*/
.navbar-light .navbar-nav .nav-link {
    transition: all .3s ease;
}

.dropdown-menu{
	background-color: #521E53;
}

.dropdown-menu a{
	color: #fff !important;
	width: 100%;
}

.dropdown-menu a:hover{
	background-color: #5F235F;
}

.navbar-light .navbar-nav .nav-link:hover {
    padding-left: 1rem;
}

@media(min-width: 992px){
	.navbar-light .navbar-nav .nav-link:hover {
    	padding-left: .5rem;
	}
	.dropup{
		padding-left: .5rem;
	}
}

/* Fin Navbar CSS RULES*/

/* REGLAS CSS IMPORTANTES */

body{
	background-image: url('../images/fondo.png');
	background-attachment: fixed;
}
.container{
	padding: 0px !important;
}

.full_container{
	margin-top: 2rem;
	margin-bottom: 6rem;
	box-shadow: 0px 2px 12px 0px #888888;
}
.cabeceraPagina{
	width: 100% !important;
	height: auto;
	padding: 5px;
	padding-left: 1rem;
	min-height: 2rem;
}

.cuerpoPagina{
	width: 100%;
	height: auto;
	background-color: #fff;
	padding: 1rem;
	min-height: 4rem;
	margin-bottom: 2rem;
}

.modal-backdrop {
  z-index: 0 !important;
}

.cursorPointer:hover{
	cursor: pointer !important; 
}
/* FIN REGLAS CSS IMPORTANTES*/

/* MISCELANIOS */
.btn{
	border-radius: 2px !important;
}

.btn-primary {
    background-color: #842F86 !important;
    border-color: #842F86 !important;
}

.btn-primary:hover , .btn-primary:active , .btn-primary:focus {
    background-color: #964e98 !important;
    border-color: #964e98 !important;
}

.textoBlanco{
	color: #fff !important;
}

.textoNegro{
	color: #000 !important;
}

.dropdown-item.active, .dropdown-item:active, .dropdown-item:hover {
	color: #fff;
    background-color: #521E53;
}

/* FIN MISCELANIOS

/* Iniciar sesion y registrarse*/

.loginMarco{
	border: 1px solid #582C93;
}

.loginMarco .btn-primary{
	width: 100%;
}

/* Fin iniciar sesion y registrarse*/