*:active,*:focus {outline: none !important;}
/* ///////////////////  PALETA DE COLORES  ////////////////////////////*/
.darkPalet{background-color: #321233 !important;}
.lightDarkPalet{background-color: #521E53 !important;}
.primaryPalet{background-color: #842F86 !important;}
.lightPrimaryPalet{background-color: #C246C6 !important;}
.backgroundPalet{background-color: #F3F3F3 !important; }
.bk_blanco{background-color: #fff !important;}
.bk_negro{background-color: #000 !important;}
/* /////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////  NAV  ////////////////////////////////*/
.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
    color: #fff !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff !important;
}

.resetNavbarPadding{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	border: 0px !important;
}

nav .form-control{
	border-radius: 2px !important;
}

nav .btn{
	padding: .5rem 1rem;
}

.btn:hover{
	cursor: pointer !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    background-color: #521E53 !important;
}

.btn-outline-success{
	color: #fff !important;
    border-color: #fff !important;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #521E53 !important;
}

.dropup{
	background-color: transparent !important;
	border: 0px !important;
	padding-right: .5rem;
    font-size: 1rem;
    width: 100%;
    text-align: left;
}

.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
    border: 0px !important;
}

.iconMenu{
	font-size: 1.5rem !important;
    padding-top: .2rem !important;
}

/* Navbar toggable*/
.navbar-light .navbar-nav .nav-link {
    transition: all .3s ease;
}

.dropdown-menu{
	background-color: #521E53;
}

.dropdown-menu a{
	color: #fff !important;
	width: 100%;
}

.dropdown-menu a:hover{
	background-color: #5F235F;
}

.navbar-light .navbar-nav .nav-link:hover {
    padding-left: 1rem;
}

@media(min-width: 992px){
	.navbar-light .navbar-nav .nav-link:hover {
    	padding-left: .5rem;
	}
	.dropup{
		padding-left: .5rem;
	}
}
/* /////////////////////////////////////////////////////////////////////*/
/* ////////////////////  REGLAS CSS IMPORTANTES ////////////////////////*/
body{
	background-image: url('../images/fondo.png');
	background-attachment: fixed;
}
.container{
	padding: 0px !important;
}

.full_container{
	margin-top: 2rem;
	margin-bottom: 6rem;
	box-shadow: 0px 2px 12px 0px #888888;
}
.cabeceraPagina{
	width: 100% !important;
	height: auto;
	padding: 5px;
	padding-left: 1rem;
	min-height: 2rem;
}

.headerAdmin{
	width: 100% !important;
	height: auto;
	padding: 0px;
	min-height: 2rem;
	transition: all .3s ease;
}

.cuerpoPagina{
	width: 100%;
	height: auto;
	background-color: #fff;
	padding: 1rem;
	min-height: 4rem;
	margin-bottom: 2rem;
}

.modal-backdrop.show {
    opacity: .85;
}

.modal-backdrop{
	z-index: 1050 !important;
}

.modal {
	z-index: 1500 !important;
}

.cursorPointer:hover{
	cursor: pointer !important; 
}
/* /////////////////////////////////////////////////////////////////////*/
/* /////////////////////////  MICELANIOS //////////////////////////////*/
.btn{
	border-radius: 2px !important;
	padding: .3rem .8rem;
}

.btn-primary {
    background-color: #842F86 !important;
    border-color: #842F86 !important;
}

.btn-primary:hover , .btn-primary:active , .btn-primary:focus {
    background-color: #964e98 !important;
    border-color: #964e98 !important;
    outline: none !important;
	color: #fff !important;
}
.btn-link{
	color: #842F86 !important;
}
.textoBlanco{
	color: #fff !important;
}

.textoNegro{
	color: #000 !important;
}

.dropdown-item.active, .dropdown-item:active, .dropdown-item:hover {
	color: #fff;
    background-color: #521E53;
}


.display-3{
	font-size: 3rem;
}

.display-4{
	font-size: 2rem;
}

.infoMargin{
	margin-bottom: 4rem;
}

.card .btn{
	width: 100%;
}

.card{
	width: 100%;
}

.fullDiv{
	width: 100% !important;
	height: auto !important;

}

.igrande{
	font-size: 3rem !important;
}

.max400{
	max-height: 400px;
}

.tituloPersonalizado{
	color: #fff;
	border-radius: 0px 0px 40px 0px;
	display: inline-block;
	padding: 3px;
	padding-left: 15px;
	padding-right: 30px;
	font-size: 1.2rem;
}

.table td, .table th {
    padding: .3rem;
}

.fit{
    white-space: nowrap;
    width: 15%;
}
/* /////////////////////////////////////////////////////////////////////*/
/* //////////////////////  VISTAS INFORMATIVAS //////////////////////////*/

/* Sellos negros */
.borderNegro{
	border: .1rem solid #000;
}

/* Etiqueta nutricional */
.borderPrimary{
	border: .1rem solid #842F86;
}
/* /////////////////////////////////////////////////////////////////////*/
/* //////////////////////  VISTAS DE ADMINISTRADOR /////////////////////*/

#secondMenu{
	background-color: #222;
}

#secondMenu.navbar-light .navbar-nav .nav-link:hover{
	background-color: #3F3F3F !important;
}

#secondMenu .btn-outline-success:hover {
    background-color: #3F3F3F !important;
}

.imgAction:hover{
	opacity: 0.7;
}

.upToHr{
	position: relative !important;
    top: -2rem !important;
}

/* /////////////////////////////////////////////////////////////////////*/
